/* General Styling */
body {
    font-family: 'Bangers', cursive;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    background-image: url('/static/images/Most-Expensive-Comic-Books-of-All-Time-scaled.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Centering the content on the page */
.container {
    background-color: rgba(255, 255, 255, 0.495); /* Increased transparency for better visibility */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
}

/* Styling for the heading */
h1 {
    font-family: 'Bangers', cursive;
    color: #ffcc00; /* Bright yellow for visibility */
    font-size: 3em; /* Increase font size */
    font-weight: bold; /* Make it bold */
    text-shadow: 2px 2px 4px #000000; /* Add a shadow for better contrast */
    margin-bottom: 20px;
}

/* Styling for the paragraph text */
p {
    font-family: 'Bangers', cursive;
    color: #230505; /* White text for contrast */
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 2px #e89a9a;
}

/* Styling for buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}

button:hover {
    background-color: #45a049;
}

/* Styling for the form */
form {
    margin: 20px 0;
}

input[type="text"] {
    padding: 10px;
        width: 80%;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* Styling the generated comic image */
img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

/* Links */
a {
    text-decoration: none;
    color: #ffcc00;
    font-size: 1.5em;
    font-weight: bold;
}

a:hover {
    color: #ff9933;
}
